{% macro render_error_messages(field) %}
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="help-block">{{ error }}</span>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_form_errors(form) %}
    {% if form.errors %}
        <ul class="fs-errorlist">
        {% for field, errors in form.errors.items() %}
            {% if field != 'csrf_token' %}
                <li>{{ ', '.join(errors) }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
