Flask-SQLAlchemy
flask-login
flask-wtf
Flask-Mail
psycopg2-binary  # Драйвер для PostgreSQL
flask
gunicorn
boto3
requests
openai
bleach 
argon2_cffi
Flask-Babel
Jinja2>=3.0
werkzeug
email-validator
gevent
stripe
Authlib
