{% extends "base_security.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<h2>Смена пароля</h2>
<form method="POST" action="{{ url_for('change_password') }}">
    {{ form.hidden_tag() }}

    <div>
        {{ form.old_password.label }}
        {{ form.old_password(class="form-control", placeholder="Текущий пароль") }}
        {% for error in form.old_password.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.new_password.label }}
        {{ form.new_password(class="form-control", placeholder="Новый пароль") }}
        {% for error in form.new_password.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div>
        {{ form.new_password_confirm.label }}
        {{ form.new_password_confirm(class="form-control", placeholder="Подтвердите новый пароль") }}
        {% for error in form.new_password_confirm.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    {{ form.submit(class="btn") }}
</form>
{% endblock %}
