{% extends "base_security.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>
<form method="POST" action="{{ url_for('login') }}" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.email.label(style="display: none;") }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {% for error in form.email.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.password.label(style="display: none;") }}
        {{ form.password(class="form-control", placeholder="Password") }}
        {% for error in form.password.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div class="checkbox-wrapper">
        <div class="custom-checkbox-container">
            {{ form.remember(id="remember") }}
            <label for="remember">{{ form.remember.label.text }}</label>
        </div>
    </div>

    {{ form.submit(class="btn", value="Login") }}
</form>
<div class="links">
    <p>Don't have an account? <a href="{{ url_for('register') }}">Sign Up</a></p>
</div>
{% endblock %}
