{% extends "base_security.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}

    <div>
        {{ form.email.label }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {% for error in form.email.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div>
        {{ form.username.label }}
        {{ form.username(class="form-control", placeholder="Имя пользователя (опционально)") }}
        {% for error in form.username.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div>
        {{ form.password.label }}
        {{ form.password(class="form-control", placeholder="Придумайте пароль") }}
        {% for error in form.password.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div>
        {{ form.password_confirm.label }}
        {{ form.password_confirm(class="form-control", placeholder="Подтвердите пароль") }}
        {% for error in form.password_confirm.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="checkbox-wrapper">
        <div class="custom-checkbox-container">
            {{ form.accept_tos() }}
            <label for="accept_tos">
                Я принимаю <a href="/terms" target="_blank">условия использования</a> и согласен на <a href="/privacy" target="_blank">обработку персональных данных</a>
            </label>
        </div>
        {% for error in form.accept_tos.errors %}
            <div class="help-block" style="margin-top: 5px;">{{ error }}</div>
        {% endfor %}
        
        <div class="custom-checkbox-container" style="margin-top: 10px;">
            {{ form.marketing_consent() }}
            <label for="marketing_consent">{{ form.marketing_consent.label.text }}</label>
        </div>
    </div>
    
    {{ form.submit(class="btn") }}
</form>
<div class="links">
    <p><a href="{{ url_for('login') }}">Уже есть аккаунт? Войти</a></p>
</div>
{% endblock %}
