{% extends "base_security.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Sign Up</h2>
<form method="POST" action="{{ url_for('register') }}" novalidate>
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.email.label(style="display: none;") }}
        {{ form.email(class="form-control", placeholder="Email") }}
        {% for error in form.email.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.username.label(style="display: none;") }}
        {# FIX: Убрали "(опционально)" из плейсхолдера #}
        {{ form.username(class="form-control", placeholder="Username") }}
        {% for error in form.username.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="form-group">
        {{ form.password.label(style="display: none;") }}
        {{ form.password(class="form-control", placeholder="Create a password") }}
        {% for error in form.password.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>
    
    <div class="form-group">
        {{ form.password_confirm.label(style="display: none;") }}
        {{ form.password_confirm(class="form-control", placeholder="Confirm password") }}
        {% for error in form.password_confirm.errors %}
            <div class="help-block">{{ error }}</div>
        {% endfor %}
    </div>

    <div class="checkbox-wrapper">
    <div class="custom-checkbox-container">
        {{ form.accept_tos(id="accept_tos") }}
        <label for="accept_tos">
            I accept the <a href="{{ url_for('terms') }}" target="_blank">Terms of Service</a> and have read the <a href="{{ url_for('privacy') }}" target="_blank">Privacy Policy</a>.
        </label>
    </div>
    {% for error in form.accept_tos.errors %}
        <div class="help-block" style="text-align: center; padding: 0;">{{ error }}</div>
    {% endfor %}
    
    <div class="custom-checkbox-container" style="margin-top: 10px;">
        {{ form.marketing_consent(id="marketing_consent") }}
        <label for="marketing_consent">
            I agree to receive marketing communications as described in the <a href="{{ url_for('marketing_policy') }}" target="_blank">Marketing Policy</a>.
        </label>
    </div>
</div>
    
    {{ form.submit(class="btn") }}
</form>
<div class="links">
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</div>
{% endblock %}
